.share-tool-hover .bdsharebuttonbox{
	display: block;
}
.bdsharebuttonbox{
	position: absolute;
	width: 163px;
	height: 46px;
	top: -1px;
	right: 0;
	display: none;
}
.bdsharebuttonbox-bg{
	width: 113px;
	height: 46px;
	position: absolute;
	right: 50px;
	top: 0px;
	background: #222;
	opacity: 0.8;
	filter: alpha(opacity=80);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.bdsharebuttonbox a{
	background: url(http://i.thsi.cn/sns/circle/newcircle/post-tools-share.png) no-repeat 0 0;
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}
.bdsharebuttonbox a:hover{
	-webkit-animation: zoomInOut 600ms ease;
	-moz-animation: zoomInOut 600ms ease;
	-ms-animation: zoomInOut 600ms ease;
}
.bdsharebuttonbox .bds_weixin{
	background-position: 0 0;
}
.bdsharebuttonbox .bds_qzone{
	background-position: 0 -30px;
}
.bdsharebuttonbox .bds_tsina{
	background-position: 0 -60px;
}
.weixinshareimg{
	width: 100px;
	height: 100px;
	border:1px solid #cccccc;
	background-color: #fff;
	position: absolute;
	top: -117px;
	left: -10px;
}
.bdsharebuttonbox .bds_weixin:hover .weixinshareimg{
	display: block!important;
}

@-webkit-keyframes zoomInOut {
	0%	{
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
			transform:scale(1.2);
			-ms-transform:scale(1.2); 	
			-moz-transform:scale(1.2); 	
			-webkit-transform:scale(1.2);
			-o-transform:scale(1.2);
	}
	16%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	32%	{
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
		transform:scale(1.1);
		-ms-transform:scale(1.1); 	
		-moz-transform:scale(1.1); 	
		-webkit-transform:scale(1.1);
		-o-transform:scale(1.1);
	}
	48%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	64%	{
		-webkit-filter: blur(0.5px);
		-moz-filter: blur(0.5px);
		-o-filter: blur(0.5px);
		-ms-filter: blur(0.5px);
		filter: blur(0.5px);
		transform:scale(1.05);
		-ms-transform:scale(1.05); 	
		-moz-transform:scale(1.05); 	
		-webkit-transform:scale(1.05);
		-o-transform:scale(1.05);
	}
	80%{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	100%{
		
	}
}
@-o-keyframes zoomInOut {
	0%	{
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
			transform:scale(1.2);
			-ms-transform:scale(1.2); 	
			-moz-transform:scale(1.2); 	
			-webkit-transform:scale(1.2);
			-o-transform:scale(1.2);
	}
	16%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	32%	{
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
		transform:scale(1.1);
		-ms-transform:scale(1.1); 	
		-moz-transform:scale(1.1); 	
		-webkit-transform:scale(1.1);
		-o-transform:scale(1.1);
	}
	48%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	64%	{
		-webkit-filter: blur(0.5px);
		-moz-filter: blur(0.5px);
		-o-filter: blur(0.5px);
		-ms-filter: blur(0.5px);
		filter: blur(0.5px);
		transform:scale(1.05);
		-ms-transform:scale(1.05); 	
		-moz-transform:scale(1.05); 	
		-webkit-transform:scale(1.05);
		-o-transform:scale(1.05);
	}
	80%{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	100%{
		
	}
}
@-moz-keyframes zoomInOut {
	0%	{
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
			transform:scale(1.2);
			-ms-transform:scale(1.2); 	
			-moz-transform:scale(1.2); 	
			-webkit-transform:scale(1.2);
			-o-transform:scale(1.2);
	}
	16%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	32%	{
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
		transform:scale(1.1);
		-ms-transform:scale(1.1); 	
		-moz-transform:scale(1.1); 	
		-webkit-transform:scale(1.1);
		-o-transform:scale(1.1);
	}
	48%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	64%	{
		-webkit-filter: blur(0.5px);
		-moz-filter: blur(0.5px);
		-o-filter: blur(0.5px);
		-ms-filter: blur(0.5px);
		filter: blur(0.5px);
		transform:scale(1.05);
		-ms-transform:scale(1.05); 	
		-moz-transform:scale(1.05); 	
		-webkit-transform:scale(1.05);
		-o-transform:scale(1.05);
	}
	80%{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	100%{
		
	}
}
@keyframes zoomInOut {
	0%	{
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
			transform:scale(1.2);
			-ms-transform:scale(1.2); 	
			-moz-transform:scale(1.2); 	
			-webkit-transform:scale(1.2);
			-o-transform:scale(1.2);
	}
	16%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	32%	{
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
		transform:scale(1.1);
		-ms-transform:scale(1.1); 	
		-moz-transform:scale(1.1); 	
		-webkit-transform:scale(1.1);
		-o-transform:scale(1.1);
	}
	48%	{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	64%	{
		-webkit-filter: blur(0.5px);
		-moz-filter: blur(0.5px);
		-o-filter: blur(0.5px);
		-ms-filter: blur(0.5px);
		filter: blur(0.5px);
		transform:scale(1.05);
		-ms-transform:scale(1.05); 	
		-moz-transform:scale(1.05); 	
		-webkit-transform:scale(1.05);
		-o-transform:scale(1.05);
	}
	80%{
		transform:scale(1);
		-ms-transform:scale(1); 	
		-moz-transform:scale(1); 	
		-webkit-transform:scale(1);
		-o-transform:scale(1);
	}
	100%{
		
	}
}